BasedOnStyle: Google
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: false
ColumnLimit: 200
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true
  BeforeCatch: true
  BeforeWhile: true
  BeforeDo: true
  